<h1>Create user</h1>
<div>

    <div class="nav">
        <button (click)="goToUsers()">Back</button>
    </div>

    <form (submit)="saveuser()" #userForm="ngForm">
        <dl>
            <dt>Name</dt>
            <dd>
                <input type="text" title="name" [(ngModel)]="user.name" name="name" />
            </dd>

            <dt>Age</dt>
            <dd>
                <input type="number" title="age" [(ngModel)]="user.age" name="age" />
            </dd>

            <dt>Address</dt>
            <dd>
                <input type="text" title="address" [(ngModel)]="user.address" name="address" />
            </dd>

            <dt>Favorite fruit</dt>
            <dd>
                <input type="text" title="fruit" [(ngModel)]="user.fruit" name="fruit" />
            </dd>

            <dt></dt>
            <dd>
                <button type="submit">Save</button>
            </dd>
        </dl>
    </form>

</div>
